.stagger-visualizer {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  width: 23.4375vw;
  height: 23.4375vw;

}

.stagger-visualizer div {
  /*position: absolute;*/
  width: 3.3333333333333335vw;
  height: 6.666666666666667vw;
  border: 0.052083333333333336vw solid #ffffff96;

}

.ml11 {
  font-weight: 700;
  font-size: 2.9166666666666665vw;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 0.15625vw;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 0.8333333333333334vw;
}

@media (pointer:coarse) {
  .var-highlight {
    color: #C0AD60;
    font-size: 2.8vw;
  }

  .string-highlight {
    color: rgba(253, 149, 90, 0.8);
    font-size: 2.8vw;
  }

  .comment-highlight {
    color: skyblue;
    font-size: 2.8vw;
  }

  .normal-highlight {
    color: white;
    font-size: 2.8vw;
  }

  #typewriter {
    font-size: 2.8vw;

    margin: 0;
    font-family: "Courier New";
  }
}

@media only screen and (max-width:400px) {
  .var-highlight {
    color: #C0AD60;
    font-size: 2.8vw;
  }

  .string-highlight {
    color: rgba(253, 149, 90, 0.8);
    font-size: 2.8vw;
  }

  .comment-highlight {
    color: skyblue;
    font-size: 2.8vw;
  }

  #typewriter {
    font-size: 2.8vw;

    margin: 0;
    font-family: "Courier New";
  }
}

@media only screen and (min-width:399px) and (max-width:768px) {
  .var-highlight {
    color: #C0AD60;
    font-size: 1.9vw;
  }

  .string-highlight {
    color: rgba(253, 149, 90, 0.8);
    font-size: 1.9vw;
  }

  .comment-highlight {
    color: skyblue;
    font-size: 1.9vw;
  }

  #typewriter {
    font-size: 1.9vw;

    margin: 0;
    font-family: "Courier New";
  }
}

@media only screen and (min-width:769px) {
  .var-highlight {
    color: #C0AD60;
    font-size: 1vw;
  }

  .string-highlight {
    color: rgba(253, 149, 90, 0.8);
    font-size: 1vw;
  }

  .comment-highlight {
    color: skyblue;
    font-size: 1vw;
  }

  #typewriter {
    font-size: 1vw;

    margin: 0;
    font-family: "Courier New";
  }
}


#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
  animation: blink 500ms linear infinite alternate;
}

.anim {
  position: absolute;
  top: 0;
  left: 0;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  width: 100%;
  z-index: -1
}

.anim svg {
  position: absolute;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

@media (max-width : 600px) {
  .anim svg {
    position: absolute;
    height: auto !important;
    min-height: 100%;
    height: 100%;
    scale: 3;
    width: 100%;
  }
}



.anim path {
  stroke-width: 2;
}