
  .stagger-visualizer {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    width: 23.4375vw;
    height: 23.4375vw;
  }
  
  .stagger-visualizer div {
    /*position: absolute;*/
    width: 3.3333333333333335vw;
    height: 6.666666666666667vw;
    border: 0.052083333333333336vw solid #ffffff96;
    
  }
  .ml11 {
    font-weight: 700;
    font-size: 2.9166666666666665vw;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width:  0.15625vw;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 0.8333333333333334vw;
  }
  .var-highlight {
    color: #C0AD60;
    font-size:1vw;
}

.string-highlight {
    color: rgba(253, 149, 90, 0.8);
    font-size:1vw;
}
.comment-highlight {
  color:skyblue;
  font-size:1vw;
}
#typewriter {
    font-size: 1vw; 
    
    margin: 0;
    font-family: "Courier New";
}

#typewriter:after {
    content: "|";
    -webkit-animation: blink 500ms linear infinite alternate;
    animation: blink 500ms linear infinite alternate;
}