/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.notion-viewport {
  @apply pointer-events-none;
}

.katex-html {
  @apply sr-only;
}

.stackedLayer {
  grid-row: 1;
  grid-column: 1;
}
