/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.notion-viewport {
  @apply pointer-events-none;
}
